.item-background{
    --background:transparent
}
.nopad-button{
    --padding-start:5px;
    --padding-end:5px;
}
.log-opts{
    height:calc(100% - 172px);
}
.waiting{
    height:10px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 5px;
}