<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to Cryptonia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Your Gateway to the World of Cryptocurrency Trading!</p>
      <p>At Cryptonia, we believe that navigating the complex world of cryptocurrency should be simple, accessible, and
        efficient. Our app is designed to bring you real-time market rates of various crypto coins, offering you an easy
        and intuitive way to stay on top of your investments.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Our Mission</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Our mission is to empower crypto enthusiasts, traders, and investors with the tools they need to make informed
        decisions. We strive to provide a seamless user experience, enabling you to track market trends and analyze data
        with ease.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>What We Offer</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>Real-Time Market Rates</h2>
            Stay updated with the latest prices of all major cryptocurrencies. Cryptonia provides accurate and real-time
            data to help you stay ahead of the market.
          </ion-label>
        </ion-item>


        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>Candle Stick Charts</h2>
            Visualize market movements with our detailed candle stick charts. These
            charts offer a clear view of price changes over various timeframes, helping you to identify trends and make
            strategic decisions.
          </ion-label>
        </ion-item>


        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>User-Friendly Interface</h2>
            Our app is built using Ionic, ensuring a smooth and responsive experience on
            both iOS and Android devices. With a clean and intuitive interface, you can easily navigate through
            different features and find the information you need.
          </ion-label>
        </ion-item>


        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>Easy Info Access</h2>
            We understand that the world of cryptocurrency can be overwhelming. That’s
            why Cryptonia offers simplified and easy-to-understand information, making it suitable for both beginners
            and experienced traders.
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Our Commitment</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>We are committed to continuous improvement and innovation. Our team is constantly working to enhance
        Cryptonia’s features and user experience based on your feedback and the latest industry trends. We prioritize
        security, accuracy, and user satisfaction, ensuring that you can trust us as your go-to app for cryptocurrency
        market insights.</p>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact Us</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Have questions or need support? Feel free to reach out to our dedicated support team at <a class="text-blue"
          href="mailto:cryptoniamanagement@gmail.com
        ">cryptoniamanagement@gmail.com
        </a>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>