<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Get in Touch</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>We would love to hear from you! Whether you have a question, feedback, or need assistance, feel free to reach
        out to us. Our support team is here to help you.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label class="contact">
            <ion-icon slot="start" size="large" name="mail-outline"></ion-icon>

            <a style="margin-left: 10px;" class="ion-margin" href="mailto:mfacubes@gmail.com
              ">mfacubes@gmail.com
            </a>

          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Send Us a Message</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Your Name</ion-label>
        <ion-input #name type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Message</ion-label>
        <ion-textarea #message></ion-textarea>
      </ion-item>
      <ion-button expand="block" color="primary"
        [href]="'mailto:mfacubes@gmail.com?subject='+name.value+'&body='+message.value">
        Send Message
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>&copy; 2024 Cryptonia</ion-title>
  </ion-toolbar>
</ion-footer>