<ion-header>
  <ion-toolbar>


    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-buttons>
        <ion-img class="h-10 w-10" src="assets/icon/{{this.params.baseAsset}}.png" alt="logo"></ion-img>
        <ion-icon class="text-lg" name="arrow-forward-outline"></ion-icon>
        <ion-img class="h-10 w-10" crossorogin src="assets/icon/{{this.params.quoteAsset}}.png" alt="logo"></ion-img>
      </ion-buttons>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar class="mx-auto mt-10 h-44 w-44">
    <ion-img [src]="'assets/icon/'+this.params.baseAsset+'.png'"></ion-img>
  </ion-avatar>
  <ion-grid class="mx-10">
    <ion-row *ngFor="let v of labels">
      <ion-col class="tracking-widest text-lg border text-center">{{v.text}}</ion-col>
      <ion-col class="border flex tracking-widest text-lg items-center justify-center">{{params[v.prop]}}</ion-col>
    </ion-row>
  </ion-grid>


  <div class="mt-10"></div>
  <ion-text class="ml-3 mb-[-30px] text-2xl tracking-widest font-bold">Stock Market</ion-text>
  <ion-segment (ionChange)="segmentChange($event.target)" class="w-11/12 mx-auto" mode="ios" [value]="segments[0]">
    <ion-segment-button class="w-5" *ngFor="let v of segments" [value]="v">
      <ion-label>{{v}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-item lines="none" class="mt-5">
    <ion-input [(ngModel)]="dates.first" class="border-2 rounded text-sm" id="open-modal"></ion-input>
    <ion-modal trigger="open-modal">
      <ng-template>
        <ion-content>
          <ion-datetime (ionChange)="timeChange($event.target,'first')" showDefaultButtons="true"></ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-label>--</ion-label>
    <ion-input [(ngModel)]="dates.last" class="border-2 rounded text-sm" id="open-modal2"></ion-input>
    <ion-modal trigger="open-modal2">
      <ng-template>
        <ion-content>
          <ion-datetime (ionChange)="timeChange($event.target,'last')" showDefaultButtons="true"></ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-item>
  <div class="mt-2" id="chart1"></div>

  <div class="mt-10"></div>
  <ion-text class="ml-3 mb-[-30px] text-2xl tracking-widest font-bold">Volume</ion-text>
  <div class="mt-2" id="chart2"></div>

  <div class="mt-10"></div>
  <ion-text class="ml-3 mb-[-30px] text-2xl tracking-widest font-bold">Trends</ion-text>
  <div class="mt-2" id="chart3"></div>
</ion-content>