<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>Settings</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-label>Notifications</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Dark Mode</ion-label>
    <ion-toggle (ionChange)="darkMode($event)" [checked]="darkToggle" slot="end"></ion-toggle>
  </ion-item>
  <ion-item (click)="logout()" button lines="full">
    <ion-label>Logout</ion-label>
  </ion-item>
  <ion-item (click)="removeAcc()" button lines="full">
    <ion-label color="danger">Delete Account</ion-label>
  </ion-item>
</ion-content>